

.carousel div {
  transform-style: preserve-3d;
}
.container {
  margin: 0 auto;
  width: 90vw; /* Responsive width based on the viewport */
  height: 50vh; /* Responsive height based on the viewport */
  max-width: 600px; /* Maximum width */
  max-height: 500px; /* Maximum height */
  position: relative;
  perspective: 1000px;
}

/* For larger screens (tablets and up) */
@media (min-width: 768px) {
  .container {
    width: 70vw;
    height: 60vh;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50vw;
    height: 70vh;
  }
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 80vw;
  max-width: 300px;
  height: 50vh;
  max-height: 500px;
  line-height: 200px;
  font-size: 2em;
  text-align: center;
  color: #fff;
  opacity: 1;
  border-radius: 10px;
  transition: transform 1s;
}

/* 3D Transformations */
.a {
  transform: rotateY(0deg) translateZ(250px);
}

.b {
  transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
}

.c {
  transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.d {
  transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}

.e {
  transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
}

.f {
  transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
}


