.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.carousel div {
  transform-style: preserve-3d;
}

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 350px;
  height: 525px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #fff;
  opacity: 1;
  border-radius: 10px;
  transition: transform 1s;
}

.a {
  transform: rotateY(0deg) translateZ(250px);
}

.b {
  transform: rotateY(60deg) translateZ(250px) rotateY(-60deg);
}

.c {
  transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.d {
  transform: rotateY(180deg) translateZ(250px) rotateY(-180deg);
}

.e {
  transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
}

.f {
  transform: rotateY(300deg) translateZ(250px) rotateY(-300deg);
}
